In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('2_4_concat.csv')


#test on feb 21 data

# date = "feb21"

# df = pd.read_csv(f'feb_preprocessed/preprocessed_{date}.csv')
# df

In [ ]:
# !pip install nltk

In [3]:
# drop rows with NaN

# df = df.dropna(inplace = True)

df.isna().sum()

datetime     0
id           0
text        51
username     0
dtype: int64

In [4]:
df.dropna(inplace=True)

In [5]:
df.isna().sum()

datetime    0
id          0
text        0
username    0
dtype: int64

In [6]:
#For Preprocessing
import re    # RegEx for removing non-letter characters

import nltk
from nltk.stem import WordNetLemmatizer
from nltk.stem import PorterStemmer
from nltk.sentiment.vader import SentimentIntensityAnalyzer
import sys
from nltk.corpus import wordnet
from nltk.corpus import stopwords
from nltk.parse.malt import MaltParser
from nltk.corpus import words
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
nltk.download('wordnet')
nltk.download('stopwords')

import html
from unicodedata import normalize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\jewel\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\jewel\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\jewel\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\jewel\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [7]:
import nltk
nltk.download('omw-1.4')

[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\jewel\AppData\Roaming\nltk_data...

True

In [8]:
def decode_text(text):
    # remove non-ASCII characters in string
    decoded_text = text.encode('ascii', 'ignore').decode('utf-8')

    # decode HTML entities
    decoded_html = html.unescape(decoded_text)
    return ''.join([word for word in decoded_html if word.isprintable()])

def remove_mentions(text):
    return re.sub("@[A-Za-z0-9_]+","", text)

def remove_stopwords(words_list):
    stop_list = stopwords.words("english")
    stop_list.append("filler")
    return [word for word in words_list if word not in stop_list]

def pos_to_wordnet(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:
        return None

def lemmatize_words(word_list):
    lemmatizer = nltk.stem.WordNetLemmatizer()
    # POS (part-of-speech) tagging
    # nltk_tagged -> a list of tuples (word, pos tag)
    nltk_tagged = nltk.pos_tag(word_list)

    # returns a list of tuples of words and their wordnet_tag (after conversion from NLTK tag)
    wordnet_tagged = list(map(lambda x: (x[0], pos_to_wordnet(x[1])), nltk_tagged))

    # lemmatizing
    lemmatized_words = []
    for word, tag in wordnet_tagged:
        if tag is not None:
            # need POS tag as 2nd argument as it helps lemmatize the words more accurately
            lemmatized_words.append(lemmatizer.lemmatize(word, tag))
        elif tag in [wordnet.NOUN]:
            lemmatized_words.append(lemmatizer.lemmatize(word))
    return lemmatized_words

def clean_original_text(text):
    text = str(text)
    text = text.lower()
    clean_list = []
    sentence_list = nltk.sent_tokenize(text)
    for sentence in sentence_list:
        decoded_sentence = decode_text(sentence)
        words_list = nltk.RegexpTokenizer(r'\w+').tokenize(decoded_sentence)
        lemmatized_words = lemmatize_words(words_list)
        useful_words = remove_stopwords(lemmatized_words)

        if len(useful_words) > 0:
            clean_list.extend(useful_words)
    clean_text = ' '.join(clean_list)

    return clean_text

In [9]:
df['clean_text'] = df['text'].apply(clean_original_text)
df['clean_tokens'] = df['text'].apply(nltk.word_tokenize)

print("COMPLETED CLEANING")

COMPLETED CLEANING

In [10]:
df

,datetime,id,text,username,clean_text,clean_tokens
0,2023-01-13 23:59:12,j48y2ja,ChatGPT info on illicit material especially w...,Massive-Mountain7157,chatgpt info illicit material especially use d...,"[ChatGPT, info, on, illicit, material, especia..."
1,2023-01-13 23:58:49,j48y0mm,Good luck dude let us know how it goes,devdeltek,good luck dude let know go,"[Good, luck, dude, let, us, know, how, it, goes]"
2,2023-01-13 23:58:40,j48xzxu,I personally think there s a good chance it s ...,kptkrunch,personally think good chance matter scale poin...,"[I, personally, think, there, s, a, good, chan..."
3,2023-01-13 23:58:33,j48xzcu,Bro wha,Charlie_2504,bro wha,"[Bro, wha]"
4,2023-01-13 23:58:05,j48xx1b,I asked ChatGPT to rewrite the prompt in a way...,KrazyA1pha,ask chatgpt rewrite prompt way best understand...,"[I, asked, ChatGPT, to, rewrite, the, prompt, ..."
...,...,...,...,...,...,...
2541594,2023-01-09 00:02:30,j3jfixn,Probably just compiling all the dystopian fict...,VanEngine,probably compile dystopian fiction human make ...,"[Probably, just, compiling, all, the, dystopia..."
2541595,2023-01-09 00:01:59,j3jfg2v,It is indeed very much a superpower but as far...,frankIIe,indeed much superpower far concern dozen quest...,"[It, is, indeed, very, much, a, superpower, bu..."
2541596,2023-01-09 00:01:18,j3jfch3,That s exactly what I was saying to my husband...,No-Bear1059,exactly say husband day,"[That, s, exactly, what, I, was, saying, to, m..."
2541597,2023-01-09 00:00:51,j3jfa4v,Amazing tip Thanks,alan65011,amaze tip thanks,"[Amazing, tip, Thanks]"
2541598,2023-01-09 00:00:18,j3jf73l,Year s for some,Egospartan_,year,"[Year, s, for, some]"

In [11]:
df.to_csv("2_4_preprocessed.csv", index=False)

## Vader Sentiment Analysis

In [12]:
#temp value for date
date = 'all'

In [13]:
## VADER


nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\jewel\AppData\Roaming\nltk_data...

True

In [14]:
# NLTK VADER for sentiment analysis

# New words and values
# New words and values
new_words = {
    'easy-to-use': 10,
    'productive': 5,
    'slow': -5,
    'frustrating': -10,
    'glitchy': -100,
}

# Instantiate the sentiment intensity analyzer with the existing lexicon
vader = SentimentIntensityAnalyzer()
# Update the lexicon
vader.lexicon.update(new_words)

print('ok!')

ok!

In [15]:

# Iterate through the headlines and get the polarity scores
scores = df['clean_text'].apply(vader.polarity_scores)

# Convert the list of dicts into a DataFrame
scores_df = pd.DataFrame.from_records(scores)

# Join the DataFrames
scored_tweets = df.join(scores_df)
scored_tweets.head()

,datetime,id,text,username,clean_text,clean_tokens,neg,neu,pos,compound
0,2023-01-13 23:59:12,j48y2ja,ChatGPT info on illicit material especially w...,Massive-Mountain7157,chatgpt info illicit material especially use d...,"[ChatGPT, info, on, illicit, material, especia...",0.000,0.836,0.164,0.7703
1,2023-01-13 23:58:49,j48y0mm,Good luck dude let us know how it goes,devdeltek,good luck dude let know go,"[Good, luck, dude, let, us, know, how, it, goes]",0.000,0.404,0.596,0.7096
2,2023-01-13 23:58:40,j48xzxu,I personally think there s a good chance it s ...,kptkrunch,personally think good chance matter scale poin...,"[I, personally, think, there, s, a, good, chan...",0.036,0.678,0.286,0.9274
3,2023-01-13 23:58:33,j48xzcu,Bro wha,Charlie_2504,bro wha,"[Bro, wha]",0.000,1.000,0.000,0.0000
4,2023-01-13 23:58:05,j48xx1b,I asked ChatGPT to rewrite the prompt in a way...,KrazyA1pha,ask chatgpt rewrite prompt way best understand...,"[I, asked, ChatGPT, to, rewrite, the, prompt, ...",0.027,0.714,0.259,0.9867

In [16]:
scored_tweets.to_csv("2_4_vader.csv")

In [3]:
import pandas as pd
scored_tweets_vader = pd.read_csv("2_4_vader.csv")
scored_tweets_vader

,Unnamed: 0,datetime,id,text,username,clean_text,clean_tokens,neg,neu,pos,compound
0,0,2023-01-13 23:59:12,j48y2ja,ChatGPT info on illicit material especially w...,Massive-Mountain7157,chatgpt info illicit material especially use d...,"['ChatGPT', 'info', 'on', 'illicit', 'material...",0.000,0.836,0.164,0.7703
1,1,2023-01-13 23:58:49,j48y0mm,Good luck dude let us know how it goes,devdeltek,good luck dude let know go,"['Good', 'luck', 'dude', 'let', 'us', 'know', ...",0.000,0.404,0.596,0.7096
2,2,2023-01-13 23:58:40,j48xzxu,I personally think there s a good chance it s ...,kptkrunch,personally think good chance matter scale poin...,"['I', 'personally', 'think', 'there', 's', 'a'...",0.036,0.678,0.286,0.9274
3,3,2023-01-13 23:58:33,j48xzcu,Bro wha,Charlie_2504,bro wha,"['Bro', 'wha']",0.000,1.000,0.000,0.0000
4,4,2023-01-13 23:58:05,j48xx1b,I asked ChatGPT to rewrite the prompt in a way...,KrazyA1pha,ask chatgpt rewrite prompt way best understand...,"['I', 'asked', 'ChatGPT', 'to', 'rewrite', 'th...",0.027,0.714,0.259,0.9867
...,...,...,...,...,...,...,...,...,...,...,...
2541543,2541594,2023-01-09 00:02:30,j3jfixn,Probably just compiling all the dystopian fict...,VanEngine,probably compile dystopian fiction human make ...,"['Probably', 'just', 'compiling', 'all', 'the'...",NaN,NaN,NaN,NaN
2541544,2541595,2023-01-09 00:01:59,j3jfg2v,It is indeed very much a superpower but as far...,frankIIe,indeed much superpower far concern dozen quest...,"['It', 'is', 'indeed', 'very', 'much', 'a', 's...",NaN,NaN,NaN,NaN
2541545,2541596,2023-01-09 00:01:18,j3jfch3,That s exactly what I was saying to my husband...,No-Bear1059,exactly say husband day,"['That', 's', 'exactly', 'what', 'I', 'was', '...",NaN,NaN,NaN,NaN
2541546,2541597,2023-01-09 00:00:51,j3jfa4v,Amazing tip Thanks,alan65011,amaze tip thanks,"['Amazing', 'tip', 'Thanks']",NaN,NaN,NaN,NaN
2541547,2541598,2023-01-09 00:00:18,j3jf73l,Year s for some,Egospartan_,year,"['Year', 's', 'for', 'some']",NaN,NaN,NaN,NaN

In [4]:
scored_tweets_vader.isna().sum()

Unnamed: 0          0
datetime            0
id                  0
text                0
username            0
clean_text      34164
clean_tokens        0
neg                51
neu                51
pos                51
compound           51
dtype: int64

In [5]:
scored_tweets_vader.drop('Unnamed: 0', axis=1, inplace=True)
scored_tweets_vader

,datetime,id,text,username,clean_text,clean_tokens,neg,neu,pos,compound
0,2023-01-13 23:59:12,j48y2ja,ChatGPT info on illicit material especially w...,Massive-Mountain7157,chatgpt info illicit material especially use d...,"['ChatGPT', 'info', 'on', 'illicit', 'material...",0.000,0.836,0.164,0.7703
1,2023-01-13 23:58:49,j48y0mm,Good luck dude let us know how it goes,devdeltek,good luck dude let know go,"['Good', 'luck', 'dude', 'let', 'us', 'know', ...",0.000,0.404,0.596,0.7096
2,2023-01-13 23:58:40,j48xzxu,I personally think there s a good chance it s ...,kptkrunch,personally think good chance matter scale poin...,"['I', 'personally', 'think', 'there', 's', 'a'...",0.036,0.678,0.286,0.9274
3,2023-01-13 23:58:33,j48xzcu,Bro wha,Charlie_2504,bro wha,"['Bro', 'wha']",0.000,1.000,0.000,0.0000
4,2023-01-13 23:58:05,j48xx1b,I asked ChatGPT to rewrite the prompt in a way...,KrazyA1pha,ask chatgpt rewrite prompt way best understand...,"['I', 'asked', 'ChatGPT', 'to', 'rewrite', 'th...",0.027,0.714,0.259,0.9867
...,...,...,...,...,...,...,...,...,...,...
2541543,2023-01-09 00:02:30,j3jfixn,Probably just compiling all the dystopian fict...,VanEngine,probably compile dystopian fiction human make ...,"['Probably', 'just', 'compiling', 'all', 'the'...",NaN,NaN,NaN,NaN
2541544,2023-01-09 00:01:59,j3jfg2v,It is indeed very much a superpower but as far...,frankIIe,indeed much superpower far concern dozen quest...,"['It', 'is', 'indeed', 'very', 'much', 'a', 's...",NaN,NaN,NaN,NaN
2541545,2023-01-09 00:01:18,j3jfch3,That s exactly what I was saying to my husband...,No-Bear1059,exactly say husband day,"['That', 's', 'exactly', 'what', 'I', 'was', '...",NaN,NaN,NaN,NaN
2541546,2023-01-09 00:00:51,j3jfa4v,Amazing tip Thanks,alan65011,amaze tip thanks,"['Amazing', 'tip', 'Thanks']",NaN,NaN,NaN,NaN
2541547,2023-01-09 00:00:18,j3jf73l,Year s for some,Egospartan_,year,"['Year', 's', 'for', 'some']",NaN,NaN,NaN,NaN

In [6]:
import pandas as pd
from pytz import timezone

# Convert 'Datetime' column to datetime type (assuming it's in UTC)
scored_tweets_vader['datetime'] = pd.to_datetime(scored_tweets_vader['datetime'], utc=True)
scored_tweets_vader

# Set 'Datetime' column as index (still timezone-aware)
scored_tweets_vader.set_index('datetime', inplace=True)

# Convert index to timezone-naive
scored_tweets_vader.index = scored_tweets_vader.index.tz_localize(None)

# Calculate daily averages and create new dataframe
df_daily = scored_tweets_vader.resample('D').mean()

# Add 'Date' column to new dataframe
df_daily['Date'] = df_daily.index.date

# Reset index (index is still timezone-naive)
df_daily.reset_index(drop=True, inplace=True)

# Reorder columns
df_daily = df_daily[['Date', 'neg', 'neu', 'pos', 'compound']]
df_daily

C:\Users\jewel\AppData\Local\Temp\ipykernel_8160\4094744925.py:15: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_daily = scored_tweets_vader.resample('D').mean()

           Date       neg       neu       pos  compound
0    2022-12-02  0.061464  0.772297  0.166158  0.212533
1    2022-12-03  0.061216  0.777708  0.161076  0.202205
2    2022-12-04  0.043140  0.842057  0.114802  0.142914
3    2022-12-05       NaN       NaN       NaN       NaN
4    2022-12-06       NaN       NaN       NaN       NaN
..          ...       ...       ...       ...       ...
115  2023-03-27  0.106032  0.692537  0.190728  0.154342
116  2023-03-28  0.096618  0.717403  0.168647  0.149509
117  2023-03-29  0.128494  0.649595  0.212027  0.136985
118  2023-03-30  0.078851  0.671704  0.234834  0.255941
119  2023-03-31  0.116590  0.659031  0.209264  0.134794

[120 rows x 5 columns]

In [7]:
df_daily_copy = df_daily.copy()
df_daily_copy

           Date       neg       neu       pos  compound
0    2022-12-02  0.061464  0.772297  0.166158  0.212533
1    2022-12-03  0.061216  0.777708  0.161076  0.202205
2    2022-12-04  0.043140  0.842057  0.114802  0.142914
3    2022-12-05       NaN       NaN       NaN       NaN
4    2022-12-06       NaN       NaN       NaN       NaN
..          ...       ...       ...       ...       ...
115  2023-03-27  0.106032  0.692537  0.190728  0.154342
116  2023-03-28  0.096618  0.717403  0.168647  0.149509
117  2023-03-29  0.128494  0.649595  0.212027  0.136985
118  2023-03-30  0.078851  0.671704  0.234834  0.255941
119  2023-03-31  0.116590  0.659031  0.209264  0.134794

[120 rows x 5 columns]

In [8]:
df_daily_copy["Date"] = df_daily_copy["Date"].astype(str)
df_daily_copy

           Date       neg       neu       pos  compound
0    2022-12-02  0.061464  0.772297  0.166158  0.212533
1    2022-12-03  0.061216  0.777708  0.161076  0.202205
2    2022-12-04  0.043140  0.842057  0.114802  0.142914
3    2022-12-05       NaN       NaN       NaN       NaN
4    2022-12-06       NaN       NaN       NaN       NaN
..          ...       ...       ...       ...       ...
115  2023-03-27  0.106032  0.692537  0.190728  0.154342
116  2023-03-28  0.096618  0.717403  0.168647  0.149509
117  2023-03-29  0.128494  0.649595  0.212027  0.136985
118  2023-03-30  0.078851  0.671704  0.234834  0.255941
119  2023-03-31  0.116590  0.659031  0.209264  0.134794

[120 rows x 5 columns]

In [9]:
df_daily_copy.to_json('daily_score_copy.json', orient='records', indent=4)

## Upload to S3

In [11]:
pip install boto3

Collecting boto3Note: you may need to restart the kernel to use updated packages.

  Downloading boto3-1.26.104-py3-none-any.whl (135 kB)
     ---------------------------------------- 0.0/135.6 kB ? eta -:--:--
     -------------------------------------- 135.6/135.6 kB 4.0 MB/s eta 0:00:00
Collecting jmespath<2.0.0,>=0.7.1
  Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Collecting s3transfer<0.7.0,>=0.6.0
  Downloading s3transfer-0.6.0-py3-none-any.whl (79 kB)
     ---------------------------------------- 0.0/79.6 kB ? eta -:--:--
     ---------------------------------------- 79.6/79.6 kB ? eta 0:00:00
Collecting botocore<1.30.0,>=1.29.104
  Downloading botocore-1.29.104-py3-none-any.whl (10.6 MB)
     ---------------------------------------- 0.0/10.6 MB ? eta -:--:--
     ---- ----------------------------------- 1.3/10.6 MB 26.6 MB/s eta 0:00:01
     ---------- ----------------------------- 2.7/10.6 MB 24.7 MB/s eta 0:00:01
     ------------------ --------------------- 5.0/10.6 MB 28.8 MB/s eta 0:00:01
     -------------------------- ------------- 7.1/10.6 MB 30.4 MB/s eta 0:00:01
     --------------------------------- ------ 8.9/10.6 MB 31.6 MB/s eta 0:00:01
     --------------------------------------  10.6/10.6 MB 31.1 MB/s eta 0:00:01
     --------------------------------------- 10.6/10.6 MB 27.3 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\github\school\bigdatabuddies\venv\lib\site-packages (from botocore<1.30.0,>=1.29.104->boto3) (2.8.2)
Collecting urllib3<1.27,>=1.25.4
  Downloading urllib3-1.26.15-py2.py3-none-any.whl (140 kB)
     ---------------------------------------- 0.0/140.9 kB ? eta -:--:--
     -------------------------------------- 140.9/140.9 kB 8.7 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\github\school\bigdatabuddies\venv\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.30.0,>=1.29.104->boto3) (1.16.0)
Installing collected packages: urllib3, jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.26.104 botocore-1.29.104 jmespath-1.0.1 s3transfer-0.6.0 urllib3-1.26.15

In [12]:
import boto3
import os

In [13]:
AWS_ACCESS_KEY_ID='AKIARJIOGROB7MVFOYGX'
AWS_SECRET_ACCESS_KEY='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'
BUCKET_NAME = 'project-analytics-output'

def upload_to_s3(file_name):
    s3 = boto3.resource('s3',
        aws_access_key_id=AWS_ACCESS_KEY_ID,
        aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
        region_name='us-east-1')
    bucket = s3.Bucket(BUCKET_NAME)
    with open('new_sentiment_topics.json', 'rb') as file:
        s3_path = '{}/{}'.format("topic", file_name)
        bucket.put_object(Key=s3_path, Body=file)
        print(f'{file_name} has been uploaded to S3 as {s3_path}')

In [14]:
folder='sentiment'
file_name='daily_score_copy.json'

with open('daily_score_copy.json', 'rb') as file:
    s3_path = '{}/{}'.format(folder, file_name)
    bucket.put_object(Key=s3_path, Body=file)
    print(f'{file_name} uploaded to S3 as {s3_path}')

daily_score_copy.json uploaded to S3 as sentiment/daily_score_copy.json

## Read from S3